/* ==========================================
   MAIN CONTAINER - NỀN TOÀN BỘ TRANG
========================================== */
.main-content {
    position: relative;
    width: 100%;
    max-width: 480px; /* ✅ Chuẩn kích thước giao diện thiệp điện thoại */
    min-height: 100vh;
    margin: 0 auto; /* ✅ Căn giữa màn hình trên Desktop */
    background-color: #6c2224; /* Màu nền chủ đạo của thiệp */

    /* Tránh vỡ layout khi có phần tử tràn ra ngoài */
    overflow-x: hidden;
    box-sizing: border-box;

    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

    -webkit-overflow-scrolling: touch;
}

.background {
    padding: 10px 20px;
    position: relative; // Tạo bệ phóng để lớp nền định vị chính xác bên trong
    overflow: hidden;

    /* Tạo một lớp giả làm hình nền mờ */
    &::before {
        content: '';
        position: absolute;
        // top: -50%;
        left: -70%;
        width: 200%;
        height: 100%;
        background-size: contain;
        background-image: url('https://lh3.googleusercontent.com/d/1OPdtAJBNp-NC4qMirG3tBL_T_Ubn1puN=s0');
        background-repeat: no-repeat;
        opacity: 0.2; // Chỉ mờ phần nền này

        z-index: 0; // Đặt lớp nền ở dưới cùng
    }

    /* Đảm bảo nội dung bên trong nằm đè lên trên lớp nền */
    > * {
        position: relative;
        z-index: 1;
    }
}

/* ==========================================
   MÀN HÌNH MÁY TÍNH (DESKTOP)
========================================== */
@media (min-width: 768px) {
    body {
        background-color: #2a080a;
    }

    .main-content {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 16px;
        min-height: calc(100vh - 40px);
    }
}

.group_1 {
    background: #ffffff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    position: relative;
}
